<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/header :: head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragmentos/header :: header}"></header>
<section class="container mt-4">
    <h2>Registrar Diagnóstico</h2>
    <form th:action="@{/api/diagnosticos}" th:object="${diagnostico}" method="post" class="border p-4 rounded">
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control">
        </div>

        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" th:field="*{fecha}" class="form-control">
        </div>

        <button type="submit" class="btn btn-success mt-2">Registrar</button>
    </form>
</section>

<section class="container mt-4">
    <h2>Lista de Diagnósticos</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Paciente</th>
                <th>Odontólogo</th>
                <th>Tratamiento</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="diagnostico : ${diagnosticos}">
                <td th:text="${diagnostico.descripcion}"></td>
                <td th:text="${diagnostico.fecha}"></td>
                <td th:text="${diagnostico.paciente?.nombre}"></td>
                <td th:text="${diagnostico.odontologo?.nombre}"></td>
                <td th:text="${diagnostico.tratamiento?.nombre}"></td>
            </tr>
        </tbody>
    </table>
</section>

<footer th:replace="fragmentos/footer :: footer"></footer>

</body>
</html>