<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/header :: head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragmentos/header :: header}"></header>
<section class="container mt-4">
    <h2>Registrar Paciente</h2>
    <form action="#" th:action="@{/api/pacientes}" th:object="${paciente}" method="post" class="border p-4 rounded">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" th:field="*{direccion}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" th:field="*{correo}" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-success mt-2">Registrar</button>
    </form>
</section>

<section class="container mt-4">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.nombre}"></td>
                <td th:text="${paciente.direccion}"></td>
                <td th:text="${paciente.telefono}"></td>
                <td th:text="${paciente.correo}"></td>
                <td>
                    <a th:href="@{/pacientes/{id}(id=${paciente.id})}" class="btn btn-primary btn-sm">Ver</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<footer th:replace="fragmentos/footer :: footer"></footer>

</body>
</html>
